
.rise-enabled {
    background-color: #FFFFFFFF !important;
    border-top: 30px #919191 solid;
    border-bottom: 30px #919191 solid;
}

.reveal pre code {
	padding: 1px;
	overflow: auto;
	max-height: 95%;
	word-wrap: normal;
    font-size: 0.9em;
    background-color: #FFFFF0FF
}

.reveal h1 code, .reveal h2 code, .reveal h3 code, .reveal h4 code {
    text-transform: none;
  }

.reveal div.highlight > pre {
    margin: 0;
    width: 100%;
    font-size: var(--jp-code-font-size);
    background: red;
    zoom: 0.1
}
